.about-section {
  padding: 6rem 1rem;
  background: white;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
}

.about-welcome{
  font-size:  clamp(1.7rem, 3vw, 2.3rem);
  font-weight:500;
  color: #0D0D45;
  line-height: 1.6;
  margin-bottom: 0.9rem;
}

.about-description {
  font-size: clamp(1rem, 2.2vw, 1.5rem);
  font-weight: 400;
  color: #0D0D45;
  line-height: 1.6;
  margin-bottom: 0.9rem;
}

/* .full-width-carousel {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
} */


