.about-section {
  position: relative;
  padding: 6rem 1rem;
  background: white;
  overflow: hidden;
}

.about-content {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
}

.about-welcome{
  font-size:  clamp(1.5rem, 2.5vw, 2rem);
  color: #0D0D45;
  line-height: 1.6;
  margin-bottom: 0.9rem;
}

.about-description {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #0D0D45;
  line-height: 1.6;
  margin-bottom: 0.9rem;
  
}

.carousel-wrapper {
  padding-top:8rem;
  overflow: hidden;
  width: 100%;
  /* padding: 2rem 0; */
  background: white;
}

.carousel-track {
  display: flex;
  width: calc(200%); /* Twice the normal width because we're repeating the logos */
  animation: scroll-left 30s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%); /* Optional: makes them all gray for more luxury feel */
  opacity: 0.8;
  transition: all 0.3s ease;
}

.carousel-item img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
