.clients-section {
  padding: 6rem 1rem;
  padding-top: 0; /* Adjust padding to fit the design - remove for extra space*/
  background: #0D0D45;;
}

.clients-content {
  max-width: 1200px;
  margin: 0 auto;
}
