.carousel-wrapper {
  /* padding-top:4rem; */
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  background: #f8fafc;
}

.carousel-track {
  display: flex;
  overflow: hidden;
  width: fit-content;
  animation: scroll-left 30s linear infinite;
}

.carousel-track:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.carousel-item {
  height: 200px;
  width: 200px; /* Adjust width as needed */
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 1;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
