.main-title {
  margin-top: 4rem; /* This creates spacing between MyLogo and MainTitle */
}

#mainTitle {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  word-spacing: 1.5rem;
  text-align: center;
  color: #333;
  margin: 4.5rem auto 0 auto;
}