.my-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.my-logo-image {
  width: auto;   /* scale relative to container */
  max-width: 150vmin;/*  prevent getting too big on large screens*/
  height: auto;  /* preserve aspect ratio */
}
